<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up! - List Projects</title>
    </head>
    <body>
        {% block content %}
            <header>
                <nav>
                    <a href="{% url 'list_projects' %}">Main page</a>
                </nav>
            </header>
            <main>
                <h1>Sign up!</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Sign up</button>
                </form>
            </main>
        {% endblock content %}
    </body>
</html>
